In [87]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [88]:
# Load data from CSV files
price_data = pd.read_csv("Cornell_Electricity_Price.csv")
price_data

        12/01/2015 00:05:00  CORNELL____  23752   0.02  0.00  0.00.1
0       12/01/2015 00:10:00  CORNELL____  23752   0.00  0.00     0.0
1       12/01/2015 00:15:00  CORNELL____  23752  18.01  0.54     0.0
2       12/01/2015 00:20:00  CORNELL____  23752  18.05  0.56     0.0
3       12/01/2015 00:25:00  CORNELL____  23752  18.02  0.54     0.0
4       12/01/2015 00:30:00  CORNELL____  23752  17.97  0.51     0.0
...                     ...          ...    ...    ...   ...     ...
154130  01/31/2020 23:40:00  CORNELL____  23752  18.59  0.70     0.0
154131  01/31/2020 23:45:00  CORNELL____  23752  18.72  0.65     0.0
154132  01/31/2020 23:50:00  CORNELL____  23752  18.63  0.68     0.0
154133  01/31/2020 23:55:00  CORNELL____  23752  18.29  0.67     0.0
154134  02/01/2020 00:00:00  CORNELL____  23752  17.70  0.63     0.0

[154135 rows x 6 columns]

In [89]:
price_data["12/01/2015 00:05:00"]

0         12/01/2015 00:10:00
1         12/01/2015 00:15:00
2         12/01/2015 00:20:00
3         12/01/2015 00:25:00
4         12/01/2015 00:30:00
                 ...
154130    01/31/2020 23:40:00
154131    01/31/2020 23:45:00
154132    01/31/2020 23:50:00
154133    01/31/2020 23:55:00
154134    02/01/2020 00:00:00
Name: 12/01/2015 00:05:00, Length: 154135, dtype: object

In [90]:
price_data = price_data.rename(columns={"12/01/2015 00:05:00": "Time", "CORNELL____": "District", "23752": "Number", "0.02": "Price", "0.00": "2", "0.00.1": "3"})

In [91]:
price_data

                       Time     District  Number  Price     2    3
0       12/01/2015 00:10:00  CORNELL____   23752   0.00  0.00  0.0
1       12/01/2015 00:15:00  CORNELL____   23752  18.01  0.54  0.0
2       12/01/2015 00:20:00  CORNELL____   23752  18.05  0.56  0.0
3       12/01/2015 00:25:00  CORNELL____   23752  18.02  0.54  0.0
4       12/01/2015 00:30:00  CORNELL____   23752  17.97  0.51  0.0
...                     ...          ...     ...    ...   ...  ...
154130  01/31/2020 23:40:00  CORNELL____   23752  18.59  0.70  0.0
154131  01/31/2020 23:45:00  CORNELL____   23752  18.72  0.65  0.0
154132  01/31/2020 23:50:00  CORNELL____   23752  18.63  0.68  0.0
154133  01/31/2020 23:55:00  CORNELL____   23752  18.29  0.67  0.0
154134  02/01/2020 00:00:00  CORNELL____   23752  17.70  0.63  0.0

[154135 rows x 6 columns]

In [92]:
Time = price_data["Time"]
Price = price_data["Price"]

In [93]:
useful_price_df = {"Time": Time, "Price": Price}

In [94]:
useful_price_df = pd.DataFrame(useful_price_df)

In [95]:
useful_price_df["Time"] = pd.to_datetime(useful_price_df["Time"], format='%m/%d/%Y %H:%M:%S')

In [96]:
useful_price_df

                      Time  Price
0      2015-12-01 00:10:00   0.00
1      2015-12-01 00:15:00  18.01
2      2015-12-01 00:20:00  18.05
3      2015-12-01 00:25:00  18.02
4      2015-12-01 00:30:00  17.97
...                    ...    ...
154130 2020-01-31 23:40:00  18.59
154131 2020-01-31 23:45:00  18.72
154132 2020-01-31 23:50:00  18.63
154133 2020-01-31 23:55:00  18.29
154134 2020-02-01 00:00:00  17.70

[154135 rows x 2 columns]

In [97]:
in_range_price = useful_price_df.set_index("Time").resample('60min').first().reset_index()["Price"][744:35808]

In [98]:
in_range_time = pd.date_range(start='1/1/2016', end='1/1/2020', freq='H')

In [99]:
in_range_df = {"Time": in_range_time[:-1], "Price": in_range_price}

In [100]:
in_range_df = pd.DataFrame(in_range_df)

In [101]:
in_range_df = in_range_df.set_index("Time")

In [102]:
in_range_df

                     Price
Time
2016-01-01 00:00:00   4.93
2016-01-01 01:00:00    NaN
2016-01-01 02:00:00    NaN
2016-01-01 03:00:00    NaN
2016-01-01 04:00:00    NaN
...                    ...
2019-12-31 19:00:00  14.37
2019-12-31 20:00:00  15.03
2019-12-31 21:00:00  14.94
2019-12-31 22:00:00  15.16
2019-12-31 23:00:00   7.49

[35064 rows x 1 columns]

In [103]:
interpolated_price = [x if x > 0 else -x for x in in_range_df.Price.interpolate(method="linear").values]

In [104]:
interpolate_in_range_price = in_range_df.Price.interpolate(method="linear")

In [105]:
len(interpolated_price)

35064

In [106]:
final_df = {"Price": interpolated_price}

In [107]:
final_df = pd.DataFrame(final_df)

In [108]:
final_df.to_csv("processed/Electricity_Price.csv", index=False)